[submodule "linktious-client"]
	path = linktious-client
	url = git@github.com:Linktious/linktious-client.git
	branch = main
[submodule "linktious-server"]
	path = linktious-server
	url = git@github.com:Linktious/linktious-server.git
	branch = main
